{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    
{% endblock %}

{% block content %}

	<div id="container">
     	    
<div class="">
	<div class="row">
 {% for product in products %}
 <div class="col-md-6">
 	<form> 
		<div class="form-row">
			<div class="form-group col-md-6" >
			
				 <input type="text"  class="form-control-plaintext" id="nom" name="nom" value="{{product.name}}" placeholder="Entrez le nom du produit"  readonly >
	   			
		
			
				 <span >{{product.price}}€ </span>
	   			
			</div>
			<div class="form-group col-md-3" >
				<img  style="height:80px;" src="{{product.img}}"/>
	   			
			</div>
		</div>
		<div class="form-row">
			
			<div class="form-group col-md-9" >
				<label>Description</label>
				 <textarea   class="form-control-plaintext" id="description" name="description"  placeholder="Pas de description"  readonly >{{product.description}}</textarea>
	   			
			</div>
		</div>
	       	
	        
	        
    </form>
 </div>
 {% endfor %}
 </div>
</div>


</div>
{% endblock %}