<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        
       
          <link rel="stylesheet" type="text/css" href="{{ base_url}}/asset/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ base_url}}/asset/css/style.css">
            <title>{% block title %}{% endblock %} </title>
        
    </head>
     {% endblock %}
    <body>
        
        {%include 'navbar.twig'%}
        {% if errorMsg is defined %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
             {{errorMsg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        
        
        
        {% if successMsg is defined %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
             {{successMsg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <h2 class="text-center">{{title}}</h2>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        
      
 
    </body>
</html>

{% block scripts %}
    <script src="{{ base_url}}/asset/js/jquery-3.3.1.min.js"></script> 
   <script src="{{ base_url}}/asset/js/bootstrap.min.js"></script> 
     {% endblock %}