<!DOCTYPE html>
<html>
    {% block head %}
    <head>
        
       
          <link rel="stylesheet" type="text/css" href="{{ base_url}}/asset/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{{ base_url}}/asset/css/style.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <title>{% block title %}{% endblock %} </title>
        
    </head>
     {% endblock %}
    <body>
        
        {%include 'navbar.twig'%}
        {% if errorMsg is defined and errorMsg is not null%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
             {{errorMsg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        
        
        
        {% if successMsg is defined and successMsg is not null %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
             {{successMsg}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        <h2 class="text-center">{{title}}</h2>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        
      
 
    </body>
</html>

{% block scripts %}
    <script type="text/javascript" src="{{ base_url}}/asset/js/jquery-3.3.1.min.js"></script> 
   <script type="text/javascript" src="{{ base_url}}/asset/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="{{ base_url}}/asset/js/script.js"></script> 
  	    <script>
$(document).ready(function(){
	if ($("textarea").length > 0) {
    $("textarea").each(function () {
        resizeTextArea($(this));
        $(this).off("keyup.textarea").on("keyup.textarea", function () {
            resizeTextArea($(this));
        });
    });
}

function resizeTextArea($element) {
    $element.height($element[0].scrollHeight);
}

});
    </script>
     {% endblock %}