{% extends "base.twig" %}
{% block head %}
    {{ parent() }}
    
{% endblock %}

{% block content %}

<div id="container">
	    <h4>Recherche</h4>
	  	<form id="formulaire" action="/naviguateCatalogue/{{crtOffset}}" method="get"> 
		<div class="form-row">
			<div class="form-group col-md-6" >
				<label>Nom</label>
				 <input type="text"  class="form-control" id="nom" name="nom" value="{{nom}}" placeholder="Entrez le nom du produit"  >
	   			
			</div>
			<div class="form-group col-md-3" >
				<label>Prix Minimum</label>
				 <input type="number" class="form-control" id="prixMin" name="prixMin" value="{{prixMin}}" step="any" placeholder="Entrez un prix"  >
	   			
			</div>
			<div class="form-group col-md-3" >
				<label>Prix Maximum</label>
				 <input type="number" class="form-control" id="prixMax" name="prixMax" value="{{prixMax}}" step="any" placeholder="Entrez un prix"  >
	   			
			</div>
		</div>
	        <button type="submit" id="submit"  class="btn btn-primary">Chercher </button>
	        
	        
	        	{% if (crtOffset-step)>=0 %}
  
				  <button type="submit" value="Previous" formaction="/naviguateCatalogue/{{crtOffset-step}}" class="btn btn-success"><span >Page précédente</span> </button>
				  {% endif %}
				
				 {% if (crtOffset+step)<count %}
				  
				  <button type="submit" value="Next" formaction="/naviguateCatalogue/{{crtOffset+step}}" class="btn btn-success"><span >Page Suivante</span> </button>
  				{% endif %}

	        
	    </form>
	    <br/>
<div class="">
	<h4>Nos bières</h4>
	<div class="row">
 {% for product in products %}
 <div class="col-md-6">
 	<form> 
		<div class="form-row">
			<div class="form-group col-md-6" >
			
				 <input type="text"  class="form-control-plaintext" id="nom" name="nom" value="{{product.name}}" placeholder="Entrez le nom du produit"  readonly >
	   			
		
			
				 <span >{{product.price}}€ </span>
	   			
			</div>
			<div class="form-group col-md-3" >
				<img  style="height:80px;" src="{{product.img}}"/>
	   			
			</div>
		</div>
		<div class="form-row">
			
			<div class="form-group col-md-9" >
				<label>Description</label>
				 <textarea   class="form-control-plaintext" id="description" name="description"  placeholder="Pas de description"  readonly >{{product.description}}</textarea>
	   			
			</div>
		</div>
	       	
	        
	        
    </form>
 </div>
 {% endfor %}
 </div>
</div>

</div>
  

{% endblock %}

